.navbar {
    background-color: var(--grey-color) !important;
    padding: 0 2rem;
    min-height: 60px;
    
    .navbar-brand {
        color: var(--primary-white-color) !important;
        font-size: 1.5rem;
        transition: color 0.3s ease;
        
        &:hover, &.active {
            color: white !important;
            font-weight: bold;
        }
    }
    
    .nav-link {
        color: var(--primary-white-color) !important;
        text-transform: uppercase;
        margin: 0 10px;
        transition: all 0.3s ease;
        
        &:hover, &.active {
            color: white !important;
            text-shadow: 0 0 1px white; 
            transform: scale(1.05); 
        }
    }
    
    .navbar-toggler {
        border-color: var(--primary-white-color);
    }
    
    .navbar-toggler-icon {
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28238, 238, 238, 0.75%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='m4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
    }
}